<div class="container mt-5 w-25">
    <div class="card shadow bg-dark text-light border-warning">
        <div class="card-body p-4">
            <h3 class="text-center mb-4 text-warning">🔐 تسجيل الدخول</h3>

            <form (ngSubmit)="login()" dir="rtl">
                <div class="mb-3">
                    <input type="text" class="form-control bg-dark text-light border-warning" placeholder="اسم المستخدم"
                        [(ngModel)]="username" name="username" />
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control bg-dark text-light border-warning"
                        placeholder="كلمة المرور" [(ngModel)]="password" name="password" />
                </div>

                <button class="btn btn-warning w-100 fw-bold" [disabled]="isSubmitting">
                    {{ isSubmitting ? '⏳ جاري الدخول...' : '✅ دخول' }}
                </button>
            </form>
        </div>
    </div>
</div>